
html, body, #root, #presentationRoot {
  height: 100%;
  width: 100%;
}

#root {
  background: black;
  color: white;
  h1 {
    color: white;
  }
}

#presentationRoot {
  display: flex;
}

.transition-btn {
  width: 4rem;
  height: 4rem;
  position: fixed;
  margin: auto 0;
  border: 1px solid black;
  background: white;
  outline: none;
  top: 0;  bottom: 0;
  cursor: pointer;
  &.left-transition{
    left: 0;
  }
  &.right-transition{
    right: 0;
  }
  &:hover {
    background: darken(white, 20%);
  }
}
